<div class="container" style="padding-top:40px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4">  
              <p>Inside Adduser</p>
            <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">  
              <h1 style="text-align:center">Register</h1>  
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="id"  formControlName="id">  
              </div>
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="firstName"  formControlName="firstName">  
              </div>  
              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="lastName"  formControlName="lastName">  
              </div>  
              <div class="input-group mb-3">  
                <input type="password" class="form-control" placeholder="gender"  formControlName="gender">  
              </div>  
              <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="department"  formControlName="department">  
              </div>  
              <button type="submit" class="btn btn-block btn-success">Register Employee</button>  
            </form>
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  